build --incompatible_strict_action_env
test --test_output=errors

build:remote --remote_executor=grpc://100.91.89.4:8980
build:remote --spawn_strategy=remote

# Build on macos-x86_64, execute on macos-x86_64
build:remote_macos_x86_64 --config=remote
build:remote_macos_x86_64 --platforms=//platforms:macos-x86_64
build:remote_macos_x86_64 --host_platform=//platforms:macos-x86_64
build:remote_macos_x86_64 --extra_execution_platforms=//platforms:macos-x86_64

# Build on macos-x86_64, execute on macos-arm64
build:remote_macos_arm64 --config=remote
build:remote_macos_arm64 --platforms=//platforms:macos-arm64
build:remote_macos_arm64 --host_platform=//platforms:macos-x86_64
build:remote_macos_arm64 --extra_execution_platforms=//platforms:macos-x86_64,//platforms:macos-arm64

# Build on linux-x86_64, execute on linux-x86_64
build:remote_linux_x86_64 --config=remote
build:remote_linux_x86_64 --platforms=//platforms:linux-x86_64
build:remote_linux_x86_64 --host_platform=//platforms:linux-x86_64
build:remote_linux_x86_64 --extra_execution_platforms=//platforms:linux-x86_64